<form autocomplete="off" onsubmit="event.preventDefault()">
	<nav class="sheet-tabs tabs">
		{{#each tabs}}
			<a class="item" data-tab="{{@key}}">
				<i class="{{icon}}"></i>
				{{localize name}}
			</a>
		{{/each}}
	</nav>

	<section class="content">
		{{#each settings}}
			<div class="tab" data-tab="{{@key}}">
				{{#each this as |setting|}}
					{{> "modules/polyglot/templates/partials/settings.hbs" setting}}
				{{/each}}
			</div>
		{{/each}}
	</section>

	<footer class="sheet-footer flexrow">
		<button type="submit" name="submit">
			<i class="far fa-save"></i>
			{{localize "SETTINGS.Save"}}
		</button>
		<button type="button" data-action="reset">
			<i class="fas fa-undo"></i>
			{{localize "SETTINGS.Reset"}}
		</button>
	</footer>
</form>