<form class="flexcol" autocomplete="off" onsubmit="event.preventDefault()">
	<section class="content">
		<div class="settings-list">
			{{#with data.providerSelection}}
				<div class="form-group">
					<label>{{name}}</label>
					<select class="form-fields polyglot-{{this.id}}" name="{{this.id}}">
						{{#select this.value}}
							{{#each this.choices as |name k|}}
								<option value="{{k}}">{{localize name}}</option>
							{{/each}}
						{{/select}}
					</select>
				</div>
				<p class="notes">{{this.hint}}</p>
			{{/with}}

			<ul class="polyglot-languages-list">
				<li class="flexrow">
					<div>{{localize "POLYGLOT.LanguageLabel"}}</div>
					<div>{{localize "POLYGLOT.Fonts"}}</div>
					<div>Randomize Letters</div>
				</li>
				<hr />
				{{#each languages.value as |value key|}}
					<li class="flexrow">
						<div data-id="{{key}}">{{value.label}}</div>
						<div style="display: none;"><input name="languages.{{key}}.label" value="{{value.label}}" /></div>
						<div>
							<select class="selectatr" name="languages.{{key}}.font" data-dtype="String">
								{{#select value.font}}
									{{#each ../alphabets.value as |font label|}}
										<option value="{{label}}">{{label}}</option>
									{{/each}}
								{{/select}}
							</select>
						</div>
						<div>
							<select class="selectatr" name="languages.{{key}}.rng" data-dtype="String">
								{{#select value.rng}}
									<option value="default">Default</option>
									<option value="unique">Unique</option>
									<option value="none">None</option>
								{{/select}}
							</select>
						</div>
					</li>
				{{/each}}
			</ul>
			<div class="polyglot-languages-warn">⚠️ If you change the provider, your language settings will be overwritten.</div>
		</div>
	</section>

	<footer class="sheet-footer flexrow">
		<button type="submit" name="submit">
			<i class="far fa-save"></i>
			{{localize "SETTINGS.Save"}}
		</button>
		<button type="button" data-action="reset">
			<i class="fas fa-undo"></i>
			{{localize "SETTINGS.Reset"}}
		</button>
	</footer>
</form>