<form autocomplete="off" onsubmit="event.preventDefault()">
	<nav class="sheet-tabs tabs">
		<a class="item" data-tab="general">
			<i class="fas fa-cogs"></i>
			{{localize "POLYGLOT.General"}}
		</a>
		<a class="item" data-tab="journal">
			<i class="fas fa-book-open"></i>
			{{localize "SIDEBAR.TabJournal"}}
		</a>
		<a class="item" data-tab="languages">
			<i class="fas fa-globe"></i>
			{{localize "POLYGLOT.Languages.title"}}
		</a>
		<a class="item" data-tab="chat">
			<i class="fas fa-comments"></i>
			{{localize "CHAT.Chat"}}
		</a>
	</nav>

	<section class="content">
		<div class="tab" data-tab="general">
			{{!-- {{#with useUniqueSalt}}
				<div class="form-group">
					<label>{{localize name}}</label>
					<select name="{{id}}" class="form-fields" id="{{id}}">
						{{selectOptions select selected=selected nameAttr="key" labelAttr="value"}}
					</select>
					<p class="notes">{{localize hint}}</p>
				</div>
			{{/with}} --}}
			{{#with RuneRegex}}
				<div class="form-group">
					<label>{{localize name}}</label>
					<input name="{{id}}" id="{{id}}" type="checkbox" {{checked value}} />
					<p class="notes">{{localize hint}}</p>
				</div>
			{{/with}}
			{{#with logographicalFontToggle}}
				<div class="form-group">
					<label>{{localize name}}</label>
					<input name="{{id}}" id="{{id}}" type="checkbox" {{checked value}} />
					<p class="notes">{{localize hint}}</p>
				</div>
			{{/with}}
			{{#with enableAllFonts}}
				<div class="form-group">
					<label>{{localize name}}</label>
					<input name="{{id}}" id="{{id}}" type="checkbox" {{checked value}} />
					<p class="notes">{{localize hint}}</p>
				</div>
			{{/with}}
			{{#with exportFonts}}
				<div class="form-group">
					<label>{{localize name}}</label>
					<input name="{{id}}" id="{{id}}" type="checkbox" {{checked value}} />
					<p class="notes">{{localize hint}}</p>
				</div>
			{{/with}}
		</div>
		<div class="tab" data-tab="journal">
			{{#with IgnoreJournalFontSize}}
				<div class="form-group">
					<label>{{localize name}}</label>
					<input name="{{id}}" id="{{id}}" type="checkbox" {{checked value}} />
					<p class="notes">{{localize hint}}</p>
				</div>
			{{/with}}
			{{#with JournalHighlightColor}}
				<div class="form-group">
					<label>{{localize name}}</label>
					{{colorPicker name="JournalHighlightColor" value=value}}
					<p class="notes">{{localize hint}}</p>
				</div>
			{{/with}}
			{{#with JournalHighlight}}
				<div class="form-group">
					<label>{{localize name}}</label>
					<input name="{{id}}" id="{{id}}" type="range" max="{{range.max}}" min="{{range.min}}" step="{{range.step}}" value="{{value}}" />
					<span class="range-value">{{value}}</span>
					<p class="notes">{{localize hint}}</p>
				</div>
			{{/with}}
		</div>
		<div class="tab" data-tab="languages">
			{{#with replaceLanguages}}
				<div class="form-group">
					<label>{{localize name}}</label>
					<input name="{{id}}" id="{{id}}" type="checkbox" {{checked value}} />
					<p class="notes">{{localize hint}}</p>
				</div>
			{{/with}}
			{{#with customLanguages}}
				<div class="form-group">
					<label>{{localize name}}</label>
					<input name="{{id}}" id="{{id}}" type="text" value="{{value}}" />
					<p class="notes">{{localize hint}}</p>
				</div>
			{{/with}}
			{{#with omniglot}}
				<div class="form-group">
					<label>{{localize name}}</label>
					<input name="{{id}}" id="{{id}}" type="text" value="{{value}}" />
					<p class="notes">{{localize hint}}</p>
				</div>
			{{/with}}
			{{#with comprehendLanguages}}
				<div class="form-group">
					<label>{{localize name}}</label>
					<input name="{{id}}" id="{{id}}" type="text" value="{{value}}" />
					<p class="notes">{{localize hint}}</p>
				</div>
			{{/with}}
			{{#with truespeech}}
				<div class="form-group">
					<label>{{localize name}}</label>
					<input name="{{id}}" id="{{id}}" type="text" value="{{value}}" />
					<p class="notes">{{localize hint}}</p>
				</div>
			{{/with}}
		</div>
		<div class="tab" data-tab="chat">
			{{#with display-translated}}
				<div class="form-group">
					<label>{{localize name}}</label>
					<input name="{{id}}" id="{{id}}" type="checkbox" {{checked value}} />
					<p class="notes">{{localize hint}}</p>
				</div>
			{{/with}}
			{{#with hideTranslation}}
				<div class="form-group">
					<label>{{localize name}}</label>
					<input name="{{id}}" id="{{id}}" type="checkbox" {{checked value}} />
					<p class="notes">{{localize hint}}</p>
				</div>
			{{/with}}
			{{#with allowOOC}}
				<div class="form-group">
					<label>{{localize name}}</label>
					<select name="{{id}}" class="form-fields" id="{{id}}">
						{{selectOptions select selected=selected nameAttr="key" labelAttr="value"}}
					</select>
					<p class="notes">{{localize hint}}</p>
				</div>
			{{/with}}
			{{#with runifyGM}}
				<div class="form-group">
					<label>{{localize name}}</label>
					<input name="{{id}}" id="{{id}}" type="checkbox" {{checked value}} />
					<p class="notes">{{localize hint}}</p>
				</div>
			{{/with}}
		</div>
	</section>

	<footer class="sheet-footer flexrow">
		<button type="submit" name="submit">
			<i class="far fa-save"></i>
			{{localize "SETTINGS.Save"}}
		</button>
		<button type="button" data-action="reset">
			<i class="fas fa-undo"></i>
			{{localize "SETTINGS.Reset"}}
		</button>
	</footer>
</form>