<form class="flexcol" autocomplete="off" onsubmit="event.preventDefault()">
	<section class="content">
		<div class="settings-list">
			{{#with data.providerSelection}}
				<div class="form-group">
					<label>{{name}}</label>
					<select class="form-fields polyglot-{{this.id}}" name="{{this.id}}">
						{{#select this.value}}
							{{#each this.choices as |name k|}}
								<option value="{{k}}">{{localize name}}</option>
							{{/each}}
						{{/select}}
					</select>
				</div>
				<p class="notes">{{this.hint}}</p>
			{{/with}}

			<ul class="polyglot-languages-list">
				<li class="flexrow">
					<div class="font-name">{{localize "POLYGLOT.LanguageLabel"}}</div>
					<div class="polyglot-alphabet-list">{{localize "POLYGLOT.AlphabetLabel"}}</div>
					<div class="polyglot-alphabet-title">ABCDEFGHIJKLMNOPQRSTUVWXYZ</div>
				</li>
				<hr />
				{{#each languages.value as |key val|}}
					<li class="flexrow">
						<div class="font-name">{{#if (eq val "_default")}}{{localize "POLYGLOT.DefaultAlphabet"}}{{else}}{{val}}{{/if}}</div>
						<div class="polyglot-alphabet-list">
							<select class="selectatr" name="language.alphabet" value={{key}} data-dtype="String">
								{{#select key}}
									{{#each ../alphabets.value as |font alphabet|}}
										<option value="{{alphabet}}">{{PolyglotBeautifyFont font}}</option>
									{{/each}}
								{{/select}}
							</select>
						</div>
						<div class="polyglot-alphabet">ABCDEFGHIJKLMNOPQRSTUVWXYZ</div>
					</li>
				{{/each}}
			</ul>
			<div class="polyglot-languages-warn">⚠️ If you change the provider, your language settings will be overwritten.</div>
		</div>
	</section>

	<footer class="sheet-footer flexrow">
		<button type="submit" name="submit">
			<i class="far fa-save"></i>
			{{localize "SETTINGS.Save"}}
		</button>
		<button type="button" data-action="reset">
			<i class="fas fa-undo"></i>
			{{localize "SETTINGS.Reset"}}
		</button>
	</footer>
</form>